.Game-counter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Game-counter {
  font-size: 44px;
  padding: 5px;
}

.Game-record {
  font-size: 12px;
}

@media only screen and (max-width: 767px) {
  .Game-counter-container {
    align-items: center;
  }
}
