.Paper-container {
  padding: 10px;
  background: #e4f2f0;
  margin: auto;
  border-radius: 20px;
}

.Paper-insideShadow {
  box-shadow: inset -8px -8px 15px rgba(0, 0, 0, 0.1),
    inset 8px 8px 15px rgba(255, 255, 255, 0.7);
}

.Paper-outsideShadow {
  box-shadow: -8px -8px 15px rgba(2125, 255, 255, 0.7),
    8px 8px 15px rgba(0, 0, 0, 0.1);
}
