.Game-start-button-container {
  cursor: pointer;
  width: 150px;
}

.Game-start-button {
  background: #046582;
  color: white;
  height: 42px;
  font-size: 18px;
}

@media only screen and (max-width: 767px) {
  .Game-start-button-container {
    width: 100%;
  }
}
