/* .Game-container {
} */

.Game-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.Game-counter {
  font-size: 44px;
  padding: 5px;
}

.Game-cards {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}

@media only screen and (max-width: 767px) {
  .Game-cards {
    margin: 20px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
  .Game-header {
    flex-wrap: wrap;
  }
}
