.MemoryCard {
  min-height: 120px;
  position: relative;
  cursor: pointer;
}

.MemoryCard-inside {
  display: flex;
  height: 100px;
  width: 100%;
  padding: 10px 0 5px 0;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.MemoryCard-tech {
  font-size: 18px;
}

.MemoryCard-cap {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: all;
}

.MemoryCard-cap-opened {
  height: 0;
  width: 0;
}

.MemoryCard-cap-hidden {
  background: #e4f2f0;
  height: 100%;
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  color: #838383;
}

.MemoryCard-image {
  object-fit: cover;
  max-width: 70%;
  max-height: 70px;
}

@media only screen and (max-width: 767px) {
  .MemoryCard-tech {
    font-size: 16px;
  }
}
