.MemoryCard {
  min-height: 120px;
  position: relative;
}

.MemoryCard-tech {
  font-size: 24px;
}

.MemoryCard-cap {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: all;
}

.MemoryCard-cap-opened {
  height: 0;
  width: 0;
}

.MemoryCard-cap-hidden {
  background: #e4f2f0;
  height: 100%;
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  color: #838383;
}
