body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.icon {
  margin: 4px;
  width: 24px;
  height: 24px;
  stroke: #fff;
}

.bg-gradiant {
  background: rgb(55, 48, 163);
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
  --tw-gradient-to: #7f1d1d;
  --tw-gradient-from: #3730a3;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(55, 48, 163, 0));
}

button {
  background: none;
  border: none;
  padding: 0;
}

.w-h-full {
  height: 100%;
  width: 100%;
}
.flex-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overflow-hidden {
  overflow: hidden;
}
